fastapi[all] 
uvicorn
pydantic
sqlalchemy
psycopg2-binary
watchfiles
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
orjson
httpx
pgvector
apscheduler
markdown2
weasyprint


# ✅ CrewAI 관련 패키지
tavily-python

# ✅ LangChain 및 벡터 DB 관련
langchain-core
langchain
langchain-community
langchain-openai

# ✅ NLP 및 모델 관련
transformers
pandas
boto3

# ✅ 벡터 DB 관련
faiss-cpu
torch>=2.0.0
kiwipiepy

# 개발단계에서만 필요한 모듈
langchain_teddynote
